<!--CONTAINER-->
<main class="container-fluid">
    <div class="row">

        <!--Menu superior somente no mobile-->
        <div class="_menu-mobile col-12 d-flex d-lg-none">
            <img class="_logo-mobile" src="img/logo.png" alt="logo">

            <img onclick="abrirMenuMobile()" class="_toggler" id="btn-toggler-mobile" src="img/bars.png">
        </div>


        <div id="menu-btns-mobile">         
                <!--btns menu MOBILE (replicar o btn e incrementar o número dele no ID e ONCLICK)-->
                <button id="btn-mobile1" onclick="trocarAba('1'), abrirMenuMobile()" class="_btn-menu-mobile active-btn">Informações</button>
                <button id="btn-mobile2" onclick="trocarAba('2'), abrirMenuMobile()" class="_btn-menu-mobile">Serviços</button>
                <button id="btn-mobile3" onclick="trocarAba('3'), abrirMenuMobile()" class="_btn-menu-mobile">Galeria</button>
                <!--btns menu-->

                <h6>ADMINISTRADOR</h6>
                <h4>WESLEI CASALI</h4>


                <a href="/logout">SAIR</a>
        </div>
        <!--Menu superior somente no mobile-->


         
        <!--Menu latera apenas desktop-->
        <div class="_menu-desktop d-none d-lg-flex col-lg-2">
            <img src="img/logo.png" alt="logo">
             
            <!--btns menu (replicar o btn e incrementar o número dele no ID e ONCLICK)-->
            <button id="btn1" onclick="trocarAba('1')" class="_btn-menu active-btn">Informações</button>
            <button id="btn2" onclick="trocarAba('2')" class="_btn-menu">Serviços</button>
            <button id="btn3" onclick="trocarAba('3')" class="_btn-menu">Galeria</button>
            <!--btns menu-->

            <h6>ADMINISTRADOR</h6>
            <h4>WESLEI CASALI</h4>


            <a href="/logout">SAIR</a>
        </div>
        <!--Menu latera apenas desktop-->


        
        <!--conteúdo principal-->
        <div class="_conteudo-principal col-12 col-lg-10">

            <div id="conteudo1" class="_conteudo">
                <h2 class="text-secondary mb-5">Informações</h2>        

                {{#each infos}}
                <div class="shadow-lg p-3">

                    <form action="/salvarInfosAdm" method="post">

                        <div class="text-secondary mb-4">
                             <h5 class="fw-bold mb-2">REDES SOCIAIS</h5>
                             <div class="row">
                                <div class="col-6">
                                    <label class="w-100">Instagram <br> <input type="text" name="instagram" required value="{{this.instagram}}" class="form-control"></label>
                                </div>
                                <div class="col-6">
                                    <label class="w-100">Facebook <br> <input type="text" name="facebook" required value="{{this.facebook}}" class="form-control"></label>
                                </div>
                             </div>
                        </div>

                        <div class="text-secondary mb-4">
                            <h5 class="fw-bold mb-2">CONTATO</h5>
                            <div class="row">
                                <div class="col-6">
                                    <label class="w-100">Whatsapp <br> <input type="tel" inputmode="tel" minlength="11" maxlength="11" name="whatsapp" required value="{{this.whatsapp}}" class="form-control"></label>
                                </div>
                                <div class="col-6">
                                    <label class="w-100">Email <br> <input type="email" inputmode="email" name="email" required value="{{this.email}}" class="form-control"></label>
                                </div>
                             </div>
                        </div>

                        <div class="text-secondary mb-4">
                            <h5 class="fw-bold mb-2">SOBRE</h5>
                            <div class="row">
                                <div class="col-12">
                                    <label>Quem somos</label>
                                    <textarea class="form-control" name="txt_sobre_nos" required rows="3" value="oi">{{this.txt_sobre_nos}}</textarea>
                                </div>
                             </div>
                             <div class="row mt-2">
                                 <div class="col-12">
                                     <button type="button" class="btn btn-secondary"  data-bs-toggle="modal" data-bs-target="#modalAddImgSobreNos">Adicionar imagem +</button>
                                 </div>
                             </div>
                        </div>

                        <div class="mt-5 d-flex justify-content-start align-items-center">
                            <button type="submit" class="btn btn-primary">SALVAR</button>
                        </div>

                    </form>

                </div>  
                {{/each}} 

            </div>


            <div id="conteudo2" class="_conteudo d-none">
                <h2 class="text-secondary mb-5">Serviços</h2>

                <button class="btn btn-success mb-3" type="button" data-bs-toggle="modal" data-bs-target="#modalAddServicos">Adicionar serviço</button>
                
                <div class="shadow-lg p-3" id="tabela-servicos">
                    <!--HEADER-->
                    <div class="mx-3 p-1 row mb-5" style="border-bottom: 2px solid rgba(0, 0, 0, 0.596);">
                        <div class="col-3">
                            <h6 class="fw-bold">TÍTULO</h6>
                        </div>
                        <div class="col-3">
                            <h6 class="fw-bold">DESCRIÇÃO</h6>
                        </div>
                        <div class="col-3 text-center">
                            <h6 class="fw-bold">IMAGEM</h6>
                        </div>
                        <div class="col-3">
                            <h6 class="fw-bold text-end">AÇÕES</h6>
                        </div>
                    </div>
                    <!--HEADER-->

                {{#if servicos}}
                    {{#each servicos}}
                    <!--BODY-->
                    <div class="mx-3 p-2 row mb-3 bg-dark text-white">
                        <div class="col-3 text-truncate">{{this.title_servicos}}</div>
                        <div class="col-3 text-truncate">{{this.sub_servicos}}</div>
                        <div class="col-3 text-center">
                            <img src="img/{{this.img_servicos}}" style="width: 30px; height:30px;">
                        </div>
                        <div class="col-3 text-end text-truncate">
                            <form action="/deletarServico" method="POST">
                               <input type="hidden" value="{{this.id}}" name="id">
                               <button type="submit" style="background-color: transparent; border:none;"><img class="_icons-acoes-servicos" src="img/remover.png" style="width:20px; margin-right:5px;"></button>
                            </form>
                        </div>
                    </div>
                    {{/each}}
                {{else}}
                    <div class="mx-3 p-2 row bg-dark text-white">
                        <span class="text-center">Sem serviços cadastrados!</span>
                    </div>
                    <!--BODY-->
                {{/if}}
                </div>
            </div>


            <div id="conteudo3" class="_conteudo d-none">
                <h2 class="text-secondary mb-5">Galeria</h2>

                <button class="btn btn-success mb-3" type="button" data-bs-toggle="modal" data-bs-target="#modalAddGaleria">Adicionar Fotos</button>

                <div class="shadow-lg p-3">
                
                {{#if galeria}}
                    {{#each galeria}}
                    <div class="row bg-dark p-2 mb-2">
                        <div class="d-flex align-items-center col-4 text-start fs-4 fw-bold text-white"><img src="img/success.png" style="width:20px;"></div>
                        <div class="col-4 text-center">
                            <img src="img/{{this.imgs_name}}" style="height:50px;">
                        </div>
                        <div class="d-flex align-items-center justify-content-end col-4">
                            <form action="/deletarImgGaleria" method="POST">
                                <input type="hidden" value="{{this.id}}" name="id">
                                <button type="submit" style="background-color: transparent; border:none;"><img class="_icons-acoes-servicos" src="img/remover.png" style="width:20px;"></button>
                            </form>
                        </div>
                    </div>
                    {{/each}}
                {{else}}
                    <div class="row bg-dark p-2 mb-2 text-center">
                        <span class="text-white">Sem imagens cadastradas!</span>
                    </div>
                {{/if}}
                </div>
            </div>

        </div>
        <!--conteúdo principal-->

    </div>
</main>
<!--CONTAINER-->











<!--*************************MODAIS*******************************-->

<!-- Modal add img sobre nos -->
<div class="modal fade" id="modalAddImgSobreNos" tabindex="-1" aria-labelledby="modalAddImgSobreNos" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5">Adicionar imagem</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>



      <form action="/addImgSobreNos" method="POST" enctype="multipart/form-data">
          <div class="modal-body">
             <input oninput="checkEntradaImg()" type="file" name="file">
          </div>
          
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
            <button type="submit" class="btn btn-primary" disabled id="btn-submit-add-img-sobre-nos">Salvar</button>
          </div>
      </form>



    </div>
  </div>
</div>
<!-- Modal add img sobre nos -->



<!-- Modal add SERVIÇO -->
<div class="modal fade" id="modalAddServicos" tabindex="-1" aria-labelledby="modalAddServicos" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5">Adicionar Serviço</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>



      <form class="p-2" action="/addImgServico" method="POST" enctype="multipart/form-data">
          <input type="text" required placeholder="Título*" class="form-control my-2" name="title">

          <input type="text" required placeholder="Descrição*" class="form-control my-2" name="descri">

          <div class="modal-body">
             <input oninput="checkEntradaImgService()" type="file" name="file">
          </div>
          
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
            <button type="submit" class="btn btn-primary" disabled id="btn-submit-add-img-service">Salvar</button>
          </div>
      </form>



    </div>
  </div>
</div>
<!-- Modal add SERVIÇO -->




<!-- Modal add GALERIA -->
<div class="modal fade" id="modalAddGaleria" tabindex="-1" aria-labelledby="modalAddGaleria" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5">Adicionar Imagem</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>



      <form class="p-2" action="/addImgGaleria" method="POST" enctype="multipart/form-data">
          <div class="modal-body">
             <input oninput="checkEntradaImgGaleria()" type="file" name="file">
          </div>
          
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
            <button type="submit" class="btn btn-primary" disabled id="btn-submit-add-img-galeria">Salvar</button>
          </div>
      </form>



    </div>
  </div>
</div>
<!-- Modal add GALERIA -->

<!--*************************MODAIS*******************************-->