{{#each infos}}
<!--BTN WPP FLOAT-->
<div id="btn-wpp">
    <a href="https://wa.me/+55{{this.whatsapp}}"><img src="img/wpp-float.png" class="img-fluid" alt="WHATSAPP ICON"></a>
</div>
<!--BTN WPP FLOAT-->
{{/each}}


<!--NAV MOBILE-->
<div id="nav-mobile">
        <div id="links-nav-mobile">
            <a onclick="abrirMenu()" href="#sobre-nos">SOBRE</a>
            <a onclick="abrirMenu()" href="#servicos" class="division-links">SERVIÇOS</a>
            <a onclick="abrirMenu()" href="#formulario">CONTATO</a>
        </div>
        
        {{#each infos}}
        <div id="icons-nav-mobile">
            <a href="{{this.facebook}}" target="_blank"><img src="../img/face.png" alt="icon facebook"></a>
            <a href="{{this.instagram}}" target="_blank"><img src="../img/insta.png" alt="icon instagram"></a>
            <a href="https://wa.me/+55{{this.whatsapp}}" target="_blank"><img src="../img/wpp.png" alt="icon whatsapp"></a>
        </div>
        {{/each}}
</div>
<!--NAV MOBILE-->



<!--BANNER INICIAL-->
<section id="banner-home">
     <div id="filtro-banner">

        <div id="container-topo">
            
            {{#each infos}}
            <div id="icones-sociais">
                 <a href="{{this.facebook}}" target="_blank"><img src="../img/face.png" alt="icon facebook"></a>
                 <a href="{{this.instagram}}" target="_blank"><img src="../img/insta.png" alt="icon instagram"></a>
                 <a href="https://wa.me/+55{{this.whatsapp}}" target="_blank"><img src="../img/wpp.png" alt="icon whatsapp"></a>
            </div>
            {{/each}}

            <header>
                <img src="../img/logo.png" alt="Logo Funilaria Ribeiro">
            
                <nav>
                    <a href="#sobre-nos">SOBRE</a>
                    <a href="#servicos" class="division-links">SERVIÇOS</a>
                    <a href="#formulario">CONTATO</a>
                </nav>

                <button onclick="abrirMenu()"><img src="../img/bars.png" class="bars-toggler"> <img src="../img/close.png" class="close-toggler"></button>
            </header>

        </div>


        <div id="carousel-home">
              <div id="controllers-carousel">
                  <img onclick="trocarCarousel('prev')" class="_prev" src="../img/back.png">
                  <img onclick="trocarCarousel('next')" class="_next" src="../img/back.png">
              </div>

              <div class="_content1-carousel">
                  <h1>FUNILARIA RIBEIRO</h1>

                  <h3>Soluções para sua residência</h3>

                  <div class="_division-carousel"></div>

                  <p>Instalação, manutenção e reparo de calhas e algerosas para sua residência. Solicite um orçamento.</p>
                 
                  {{#each infos}}
                  <button onclick="window.location.href='https://wa.me/+55{{this.whatsapp}}'"><img src="img/wpp.png"> WHATSAPP</button>
                  {{/each}}
              </div>

              <div class="_content2-carousel d-none">
                  <h1>FUNILARIA RIBEIRO</h1>

                  <h3 class="text-center">Mais de 20 anos de excelência no mercado</h3>

                  <div class="_division-carousel"></div>

                  <p>Oferecemos soluções eficazes para residências e construções, incluindo instalação, manutenção e reparo de calhas, algerozes e colarinhos.</p>

                  <button onclick="window.location.href='#sobre-nos'"><img src="img/info.png"> SAIBA MAIS</button>
              </div>
        </div>

        <img onclick="window.location.href='#sobre-nos'" id="arrow-down" src="img/arrow-down.png">

     </div>
</section>
<!--BANNER INICIAL-->



{{#each infos}}
<!--SOBRE NÓS-->
<section id="sobre-nos">

      <h1 data-aos="fade-up" data-aos-once="true" class="_title-sobre-nos">SOBRE NÓS</h1>
      <h6 data-aos="fade-up" data-aos-once="true" class="_subtitle-sobre-nos">Conheça um pouco sobre a funilaria!</h6>

      <div class="container">
           <div class="row">
                <div data-aos="fade-up" data-aos-once="true" class="order-2 order-lg-1 col-12 col-lg-6 d-flex justify-content-center align-items-center">
                    <img class="_img-git-sobre-nos" src="img/{{this.img_sobre_nos}}">
                </div>

                <div data-aos="fade-up" data-aos-once="true" class="order-1 order-lg-2 col-12 col-lg-6 _container-txt-sobre-nos">
                     <h1>FUNILARIA RIBEIRO</h1>

                     <p>{{this.txt_sobre_nos}}</p>

                     <button onclick="window.location.href='#galeria'">SAIBA MAIS</button>
                </div>
           </div>
      </div>
</section>
<!--SOBRE NÓS-->
{{/each}}



{{#if servicos}}
<!--SERVIÇOS-->
<section id="servicos">

    <h1 data-aos="fade-up" data-aos-once="true" class="_nossos-servicos">NOSSOS SERVIÇOS</h1>
    <h6 data-aos="fade-up" data-aos-once="true" class="_subnossos-servicos">Alguns dos serviços que podemos lhe oferecer!</h6>

    <div class="container">
        <div class="row">

            {{#each servicos}}
            <div data-aos="fade-up" data-aos-once="true" class="col-12 col-lg-4 px-3 text-center mb-4">
                <div class="_container-exibir-servicos">
                     <div><img src="img/{{this.img_servicos}}"></div>

                     <h3>{{this.title_servicos}}</h3>

                     <p>{{this.sub_servicos}}</p>
                     
                     <button onclick="window.location.href='#formulario'">ORÇAMENTO</button>
                </div>
            </div>
            {{/each}}

    </div>
</section>
<!--SERVIÇOS-->
{{/if}}





<!--MAPA-->
<section id="mapa">
      <iframe src="https://www.google.com/maps/embed?pb=!1m17!1m12!1m3!1d878.7553551105552!2d-52.44053633047739!3d-28.237029516981885!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m2!1m1!2zMjjCsDE0JzEzLjMiUyA1MsKwMjYnMjMuNiJX!5e0!3m2!1spt-BR!2sbr!4v1681178539108!5m2!1spt-BR!2sbr" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</section>
<!--MAPA-->



{{#if galeria}}
<!--GALERIA-->
<section id="galeria">
    <h1 data-aos="fade-up" data-aos-once="true" class="_galeria-title">GALERIA</h1>
    <h6 data-aos="fade-up" data-aos-once="true" class="_subgaleria-title">Veja alguns de nossos trabalhos finalizados!</h6>

    <div class="container mb-5">
        <div class="row _container-all-imgs">
            {{#each galeria}}
            <div data-aos="fade-up" data-aos-once="true" class="col-12 col-lg-4 p-2 mb-3 _container-galeria-fotos"><img src="img/{{this.imgs_name}}"></div>
            {{/each}}
        </div>
    </div>
    
    {{#each infos}}
    <button data-aos="fade-up" data-aos-once="true" onclick="window.location.href='https://wa.me/+55{{this.whatsapp}}'"><img src="img/wpp.png"> ORÇAMENTOS</button>
    {{/each}}
</section>
<!--GALERIA-->
{{/if}}




<!--FUNCIONAMENTO-->
<section id="funcionamento">
   <div class="container">
    <div class="row">

        <div data-aos="fade-up" data-aos-once="true" class="_container-funcionamento-blocos col-12 col-lg-4 text-center text-white">
            <h3 class="_title-funcionamento">FUNCIONAMENTO:</h3>

            <div class="_funcionamento">
                <p>Seg: 08:30 - 17:30</p>
                <p>Ter: 08:30 - 17:30</p>
                <p>Qua: 08:30 - 17:30</p>
                <p>Qui: 08:30 - 17:30</p>
                <p>Sex: 08:30 - 17:30</p>
                <p>Sáb: Fechado</p>
                <p>Dom/Feriado: Fechado</p>
            </div>
        </div>
        
        <div data-aos="fade-up" data-aos-once="true" class="_container-funcionamento-blocos col-12 col-lg-4 text-center text-white">
            <h3 class="_title-funcionamento">ENDEREÇO:</h3>

            <div class="_endereco">
                <p>Av. Rio Grande, 101</p>
                <p>Valinhos</p>
                <p>99042-000</p>
                <p>Passo Fundo - RS</p>

                 <button onclick="window.location.href='https://goo.gl/maps/8LXqYk3c5QX2SJ787'">VER NO MAPA</button>
            </div>
        </div>

        <div data-aos="fade-up" data-aos-once="true" class="_container-funcionamento-blocos col-12 col-lg-4 text-center text-white">
            <h3 class="_title-funcionamento">CONTATOS:</h3>
       
            {{#each infos}}
            <div class="_btn-sociais">
                <a href="{{this.instagram}}" target="_blank"><img src="img/insta.png"> INSTAGRAM</a>
                <a href="{{this.facebook}}" target="_blank"><img src="img/face.png"> FACEBOOK</a>
                <a href="https://wa.me/+55{{this.whatsapp}}" target="_blank"><img src="img/wpp.png"> WHATSAPP</a>
                <a href="mailto:{{this.email}}" target="_blank"><img src="img/email.png"> EMAIL</a>
            </div>
            {{/each}}
        </div>

    </div>
   </div>
</section>
<!--FUNCIONAMENTO-->






<!--INSTAGRAM-->
<section id="instagram">

     <h1 data-aos="fade-up" data-aos-once="true" class="_title-instagram">NOSSO INSTAGRAM</h1>
     <h6 data-aos="fade-up" data-aos-once="true" class="_subtitle-instagram">Conheça nossa rede social!</h6>

     <iframe data-aos="fade-up" data-aos-once="true" class="d-none d-lg-block" src="https://snapwidget.com/embed/1030395" class="snapwidget-widget" allowtransparency="true" frameborder="0" scrolling="no" style="border:none; overflow:hidden;  width:765px; height:510px; margin-bottom:25px;"></iframe>
     <iframe data-aos="fade-up" data-aos-once="true" class="d-block d-lg-none" src="https://snapwidget.com/embed/1030393" class="snapwidget-widget" allowtransparency="true" frameborder="0" scrolling="no" style="border:none; overflow:hidden;  width:315px; height:315px; margin-bottom:25px;"></iframe>
     
     {{#each infos}}
     <button onclick="window.location.href='{{this.instagram}}'" data-aos="fade-up" data-aos-once="true">@FUNILARIA_RIBEIRO2022 <img src="img/insta.png"></button>
     {{/each}}

</section>
<!--INSTAGRAM-->





<!--FORMULARIO-->
<section id="formulario">
    
    <h1 data-aos="fade-up" data-aos-once="true" class="_title-formulario">CONTATO</h1>
    <h6 data-aos="fade-up" data-aos-once="true" class="_subtitle-formulario">Preencha seus dados e entraremos em contato!</h6>

    <form action="/enviarEmail" method="POST">
        <input data-aos="fade-up" data-aos-once="true" type="text" placeholder="NOME*" required name="nome">
        <input data-aos="fade-up" data-aos-once="true" type="email" placeholder="EMAIL*" required name="email">
        <input data-aos="fade-up" data-aos-once="true" id="tel-form" type="tel" placeholder="WHATSAPP*" required name="whatsapp" maxlength="15" inputmode="tel">
        <textarea data-aos="fade-up" data-aos-once="true" name="mensagem" rows="5" required placeholder="MENSAGEM*"></textarea>

        <button data-aos="fade-up" data-aos-once="true" type="submit"><img src="img/enviar.png"> ENVIAR</button>
    </form>

</section>
<!--FORMULARIO-->





<!--FOOTER-->
<footer>
    <span>Criado por</span> <a href="https://freeladev.online" target="_blank">Freeladev</a> / <span>Todos os direitos reservados ©Funilaria Ribeiro.</span>
</footer>
<!--FOOTER-->